:root {
  --primaryColor: rgb(0, 0, 0);
  --lightGrey: rgb(225, 225, 225);
  --darkGrey: rgb(150, 148, 148);
  --violetColor: rgb(233, 127, 233);
  --orangeColor: rgb(255, 123, 0);
  --radius: 15px;
  --gradientColors: rgb(252, 35, 100), rgb(255, 136, 0), rgb(102, 227, 102);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  background: var(--lightGrey);
  margin: 10px;
}

.content-wraper {
  background-color: white;
  border-radius: var(--radius);
  padding: 20px;
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 8rem;
  animation: slideFromRight 4s ease-in-out 1;
}
@keyframes slideFromRight {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  50% {
    transform: translateX(80%);
    opacity: 0.2;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--darkGrey);
}
.menu-links {
  display: none;
}
.nav-btn {
  background-color: transparent;
  border: none;
  color: var(--darkGrey);
  font-size: 1.5rem;
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(0.8);
  }
}

.nav-btn:hover {
  color: var(--violetColor);
  cursor: pointer;
}
#header-container {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.header-img {
  min-width: 45vh;
  width: 100%;
}
strong {
  color: var(--violetColor);
  text-transform: uppercase;
  font-size: 0.8rem;
}

h1 {
  font-size: 1.7rem;
  font-weight: 800;
}

p {
  font-size: 0.8rem;
  color: var(--darkGrey);
}

.btn {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, var(--gradientColors)) border-box;
  border: 3px solid transparent;
  border-radius: 50px;
  padding: 15px;
  width: 8rem;
  font-size: 13px;
  font-weight: 600;
  margin: 10px 0;

  transition: 0.5s linear;
}
.btn:hover {
  background: linear-gradient(45deg, var(--gradientColors)) border-box;
  color: white;
  cursor: pointer;
  transform: scale(30px);
  letter-spacing: 0.2em;
}

.section-1 {
  background: linear-gradient(45deg, var(--gradientColors));
  height: 100%;
  width: 100%;
  padding: 50px 20px 20px 20px;
  position: relative;
  right: 20px;
}
.section-1 p {
  color: var(--primaryColor);
}
.section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 50px 0;
}

.hidden-company {
  display: none;
}
.section-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 0;
}
.different-link {
  text-decoration: underline;
  font-weight: 600;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.card-info {
  padding: 10px 20px;
  background: var(--lightGrey);
  border-radius: 0 0 15px 15px;
}

.card-txt-top {
  display: flex;
  justify-content: space-between;
}
.orange {
  color: var(--orangeColor);
}
.grey {
  color: var(--darkGrey);
}
.card-txt-middle {
  display: flex;
  justify-content: space-between;
}
.card-txt-middle img {
  height: 15px;
}
.card-txt-bottom {
  display: flex;
  justify-content: space-between;
}
h5 {
  color: var(--darkGrey);
}

h4,
h5,
h6 {
  margin: 5px 0;
}
.top-underline,
.underline {
  width: 100%;
  border-bottom: 2px solid var(--lightGrey);
  margin: 50px 0;
}
.underline {
  margin: 0;
}
#info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.info-img {
  position: relative;
  top: 23px;
}
footer i:hover {
  color: var(--violetColor);
  transform: 0.7s ease-in;
  transform: scale(150%);
}
.footer-header {
  padding: 20px 0;
}
.footer-header i {
  padding: 5px 10px 5px 0;
  color: var(--darkGrey);
}
footer i:hover {
  color: var(--violetColor);
  transform: 0.7s ease-in;
  transform: scale(150%);
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

span {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}
.first-row,
.second-row {
  display: flex;
  gap: 20px;
}

.about,
.contacts {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
}
.nft-links,
.social {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 5px;
}

.footer-bottom {
  display: flex;
  padding: 20px 0;
}
.opening {
  display: none;
}

@media screen and (min-width: 768px) {
  html,
  body {
    margin: 50px 20px;
  }
  .content-wraper {
    padding: 3rem;
  }
  .menu-links {
    display: flex;
    gap: 20px;
  }
  .signUp-link {
    color: var(--violetColor);
    font-weight: 600;

    animation: bounce 2s ease infinite;
  }
  @keyframes bounce {
    0% {
      transform: scale(0.6);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.6);
    }
  }

  .nav-btn {
    display: none;
  }
  h1 {
    font-size: 3.5rem;
  }
  .section-1 {
    border-radius: var(--radius);
  }

  .section-2 {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }
  .hidden-company {
    display: block;
  }
  .section-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
  .card {
    width: 250px;
  }
  #info-container {
    padding: 0px;
  }
  .info-img {
    position: relative;
    top: 3px;
  }
  .underline {
    width: 100%;
    border-bottom: 2px solid var(--lightGrey);
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
  }
  .links {
    flex-direction: row;
    padding: 20px 0;
  }
  .first-row {
    display: flex;
    gap: 20px;
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
  }
  .opening {
    display: block;
  }
}
